name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ~1.24
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Style checks
        run: |
          make style
          if ! git diff --exit-code HEAD; then
            echo
            echo "*** Files are not formatted properly. See the above diff for more info."
            exit 1
          fi

      - name: Unit tests
        run: |
          make unit-tests

      - name: Integration tests
        run: |
          make integration-tests
